<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <title>Task Manager</title>
</head>
<body>
  <div class="container">
    <h1>Your Tasks</h1>
    <div class="d-flex align-items-center">
          <ul>
            <% @tasks.each do |task| %>
            <li class="list-unstyled">
              <% if task.completed == false %>
              <input type="checkbox" class="custom-control-input" id="defaultUncheckedDisabled2" disabled>
              <label class="custom-control-label" for="defaultUncheckedDisabled2"></label>
              <% else %>
              <input type="checkbox" class="custom-control-input" id="defaultCheckedDisabled2" checked disabled>
              <label class="custom-control-label" for="defaultCheckedDisabled2"></label>
              <% end %>
              <%= link_to task.title, task_path(task) %>
              <%= link_to "", task_path(task), class: "glyphicon glyphicon-trash" , method: :delete, data: { confirm: "Are you sure? "} %>
              </li>
            <% end %>
          </ul>
    </div>
    <%= link_to "Create new task", new_task_path %>
  </div>
</body>
</html>
